@using Talpa_10_WebApp.ViewModels
@using Talpa_10_WebApp.Translations
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Talpa_10_WebApp.ViewModels.OutingViewModel>
@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Index"];
    ViewData["DisableMainContainer"] = "True";
}

<div style="background-color: rgb(245, 245, 245); padding: 1em; font-size: 1.5em">
    <h1 style="text-align: center">@SharedLocalizer["OutingsToPlan"]</h1>
    <div style="font-size: 0.8em; text-align: center">@SharedLocalizer["Please select your preferred date and outing suggestion."]</div>
</div>

<div class="container">
    @if (TempData.ContainsKey("Message"))
    {
        <div id="flashmessage" class="alert alert-@(TempData["MessageType"])">
            @TempData["Message"]
        </div>
    }
</div>

<div class="outer-container">
    @foreach (OutingViewModel outing in Model)
    {
        <a class="card-link" style="text-decoration: none; display: flex; justify-content: center; align-items: center; margin: 10px;" href="@Url.Action("VoteSuggestion", "Outing", new { id = outing.Id })">
            <div class="card" style="background-image: url(@(outing.ImageUrl ?? "https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"));">
                <div class="card-body">
                    <h1 class="card-title" style="background-color: rgba(0,0,0,0.54)">
                        @outing.Name
                    </h1>
                </div>
            </div>
        </a>
    }
</div>