@using Talpa_10_WebApp.Translations
@using Microsoft.AspNetCore.Mvc.Localization
@model Talpa_10_WebApp.RequestModels.AppearanceRequest
@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
    Layout = "_Layout";
    ViewData["Title"] = SharedLocalizer["Edit"];
    ViewData["DisableMainContainer"] = "True";
}

<div class="page-title-container">
    <h1 style="text-align: center">@SharedLocalizer["Appearance"]</h1>
    <div class="page-title">@SharedLocalizer["Edit"]</div>
</div>

<div class="container" style="margin-top: 1em">
    @if (TempData.ContainsKey("Message"))
    {
        <div id="flashmessage" class="alert alert-@(TempData["MessageType"])">
            @TempData["Message"]
        </div>
    }

    <hr/>
    <div class="row" style="display: flex; justify-content: center">
        <div class="col-md-8">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Main" class="control-label"></label>
                    <input type="color" asp-for="Main" class="form-control"/>
                    <span asp-validation-for="Main" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Secondary" class="control-label"></label>
                    <input type="color" asp-for="Secondary" class="form-control"/>
                    <span asp-validation-for="Secondary" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Background" class="control-label"></label>
                    <input type="color" asp-for="Background" class="form-control"/>
                    <span asp-validation-for="Background" class="text-danger"></span>
                </div>

                <br>
                <label>@SharedLocalizer["Current image"]:</label>
                <div style="display: flex; flex-direction: column; background-color: var(--main)">
                    @if (Model.ImageUrl != null)
                    {
                        <img class="col-md-3" src="@Model.ImageUrl" alt="Appearance Image" style="max-height: 300px; object-fit: contain"/>
                    }
                </div>
                <br>

                <div class="form-group">
                    <label asp-for="Image" class="control-label">@SharedLocalizer["Image"]</label>
                    <input asp-for="Image" class="form-control" accept="image/png, image/gif, image/jpeg"/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                
                <br>

                <div class="form-group" style="display: flex; justify-content: space-between">
                    <a class="btn btn-secondary" href="/">@SharedLocalizer["Back"]</a>
                    <input type="submit" value="@SharedLocalizer["Edit"]" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>