@using Talpa_10_WebApp.Translations
@using Microsoft.Extensions.Localization
@model Talpa_10_WebApp.RequestModels.OutingRequest
@inject IStringLocalizer<Shared> StringLocalizer

@{
    Shared SharedLocalizer = new(StringLocalizer);
    Layout = "_Layout";
    ViewData["Title"] = SharedLocalizer.Get("Create");
}

<h4>@SharedLocalizer.Get("Outing")</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">@SharedLocalizer.Get("Dates")</label>
                <div class="input-group date">
                    <div id="datepicker">
                    <input type="hidden" class="form-control" id="Dates" name="StringDates" value="@Model?.StringDates" placeholder="@SharedLocalizer.Get("SelectDays")" required="">
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="@SharedLocalizer.Get("Create")" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer.Get("BackToList")</a>
</div>