@using Talpa_10_WebApp.Translations
@using Microsoft.AspNetCore.Mvc.Localization
@model Talpa_10_WebApp.RequestModels.OutingRequest
@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
    Layout = "_Layout";
    ViewData["Title"] = SharedLocalizer["Edit"];
}

<h1>@SharedLocalizer["Edit"]</h1>

<h4>@SharedLocalizer["Outing"]</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSuggestionIds" class="control-label">@SharedLocalizer["Suggestions"]</label>
                <select asp-for="SelectedSuggestionIds" asp-items="Model.SuggestionOptions" multiple="multiple" class="form-control js-tokenizer-max3"></select>
                <span asp-validation-for="SelectedSuggestionIds" class="text-danger"></span>
            </div>
			<div class="datepicker">
				<label asp-for="DeadLine" class="control-label"></label>
				<input asp-for="DeadLine" type="datetime-local" class="form-control" />
				<span asp-validation-for="DeadLine" class="text-danger"></span>
			</div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Dates"]</label>
                <div class="input-group date">
                    <div id="datepicker">
                        <input type="hidden" class="form-control" id="Dates" name="StringDates" value="@Model?.StringDates" placeholder="@SharedLocalizer["SelectDays"]" required="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
</div>