@using Talpa_10_WebApp.ViewModels
@using Talpa_10_WebApp.Translations
@using Microsoft.Extensions.Localization
@model IEnumerable<Talpa_10_WebApp.ViewModels.OutingViewModel>
@inject IStringLocalizer<Shared> StringLocalizer

@{
    Shared SharedLocalizer = new(StringLocalizer);
    Layout = "_Layout";
    ViewData["Title"] = SharedLocalizer.Get("Index");
}

<h1>@SharedLocalizer.Get("Index")</h1>

<p>
    <a asp-action="Create">@SharedLocalizer.Get("Create New")</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (OutingViewModel item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer.Get("Edit")</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer.Get("Details")</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer.Get("Delete")</a>
            </td>
        </tr>
    }
    </tbody>
</table>