@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@using Talpa_10_WebApp.Constants
@using Talpa_10_WebApp.Translations
@using System.Globalization
@inject IHtmlLocalizer<Shared> SharedLocalizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Talpa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/outingstyle.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/datepicker.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto:wght@100;200;300;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav style="z-index: 20;" class="nav navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
        <div class="container-navbar">
            <a class="navbar-brand letterspace" style="color: white;" asp-area="" asp-controller="Home" asp-action="Index">TALPA</a>
            <button class="navbar-toggler" style="background-color: white;" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.IsInRole(RoleName.Admin))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Team" asp-action="Index" style="@(new Uri(Context.Request.GetDisplayUrl()).AbsolutePath.StartsWith("/Admin/Team") ? "color: white !important; text-decoration: underline; font-weight: bold;" : "")">
                                @SharedLocalizer["Teams"]
                            </a>
                        </li>
                    }
                    @if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.Manager))
                    {
                        <li class="nav-item">
                            <a asp-area="Manager" asp-controller="Outing" asp-action="Index" class="nav-link" style="@(new Uri(Context.Request.GetDisplayUrl()).AbsolutePath.StartsWith("/Manager/Outing") ? "color: white !important; text-decoration: underline; font-weight: bold;" : "")">
                                @SharedLocalizer["ManageOutings"]
                            </a>
                        </li>
                    }
                    @if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.Manager) || User.IsInRole(RoleName.Employee))
                    {
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Outing" asp-action="Index" class="nav-link" style="@(new Uri(Context.Request.GetDisplayUrl()).AbsolutePath.StartsWith("/Outing") ? "color: white !important; text-decoration: underline; font-weight: bold;" : "")">
                                @SharedLocalizer["OutingsToPlan"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Suggestion" asp-action="Index" class="nav-link" style="@(new Uri(Context.Request.GetDisplayUrl()).AbsolutePath.StartsWith("/Suggestion") ? "color: white !important; text-decoration: underline; font-weight: bold;" : "")">
                                @SharedLocalizer["Suggestions"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Scoreboard" asp-action="Index" class="nav-link" style="@(new Uri(Context.Request.GetDisplayUrl()).AbsolutePath.StartsWith("/Scoreboard") ? "color: white !important; text-decoration: underline; font-weight: bold;" : "")">
                                @SharedLocalizer["Scoreboard"]
                            </a>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right" style="display: flex; column-gap: 2em; align-items: center; flex-wrap: wrap-reverse">
                    <partial name="_CulturePartial"/>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li style="display: flex; column-gap: 1em; align-items: center;">
                            <div style="color: white">
                                <div>@User.Identity.Name</div>
                                @if (User.IsInRole(RoleName.Admin))
                                {
                                    <div class="role">@SharedLocalizer["Admin"]</div>
                                }
                                else if (User.IsInRole(RoleName.Manager))
                                {
                                    <div class="role">@SharedLocalizer["Manager"]</div>
                                }
                                else if (User.IsInRole(RoleName.Employee))
                                {
                                    <div class="role">@SharedLocalizer["Employee"]</div>
                                }
                            </div>
                            <a id="qsLogoutBtn" asp-area="" asp-controller="Account" asp-action="Logout" style="color: white">
                                @SharedLocalizer["Logout"]
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a id="qsLoginBtn" asp-area="" asp-controller="Account" asp-action="Login" style="color: white">
                                @SharedLocalizer["Login"]
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="main @(ViewData["DisableMainContainer"] as string == "True" ? "" : "container")" id="main">
    @if (ViewData["DisableMainContainer"] as string != "True")
    {
        @if (TempData.ContainsKey("Message"))
        {
            <div class="alert alert-@(TempData["MessageType"])">
                @TempData["Message"]
            </div>
        }
    }

    @RenderBody()
</main>

@* SELECT2 *@
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/es.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/nl.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/en.js"></script>

@* ENDSELECT2 *@
<script>
    $(".js-dynamic-tokenizer").select2({
        tags: true,
        tokenSeparators: [','],
        language: "@CultureInfo.CurrentCulture.ToString().Substring(0,2)"
    });
    $(".js-tokenizer").select2({
        language: "@CultureInfo.CurrentCulture.ToString().Substring(0,2)"
    });
    $(".js-tokenizer-max3").select2({ 
        maximumSelectionLength: 3,
        language: "@CultureInfo.CurrentCulture.ToString().Substring(0,2)"
    });
    
    function formatState (state) {
      if (!state.id) {
        return state.text;
      }
      
      return $(
        '<span><img width="35px" src="/flags/' + state.element.value.toLowerCase() + '.svg" class="img-flag" /> ' + state.text + '</span>'
      );
    }
    
    $(".js-example-templating").select2({
      templateResult: formatState
    });
</script>

@* DATEPICKER *@
<link rel="stylesheet" type="text/css" href="~/datepicker/result-light.css">
<link rel="stylesheet" type="text/css" href="~/datepicker/bootstrap-datepicker3.min.css">
<link rel="stylesheet" type="text/css" href="~/datepicker/font-awesome.min.css">
<script type="text/javascript" src="~/datepicker/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/datepicker/bootstrap.min.js"></script>
<script type="text/javascript" src="~/datepicker/locales/bootstrap-datepicker.nl.js"></script>
<script type="text/javascript" src="~/datepicker/locales/bootstrap-datepicker.en-US.js"></script>
@* ENDDATEPICKER *@

    <script>
        $(document).ready(function () {
            var selectedDatesInput = $('#selectedDates');

            $('#datepicker').datepicker({
                format: "dd-mm-yyyy",
                weekStart: 1,
                startView: 1,
                maxViewMode: 2,
                clearBtn: true,
                multidate: true,
                multidateSeparator: ",",
                forceParse: false,
                language: "@CultureInfo.CurrentCulture.ToString().Substring(0,2)"
            }).on('changeDate', function (e) {
                selectedDatesInput.val(e.dates.join(','));
            });
        });
    </script>

<partial name="_CookieConsentPartial"/>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)

</body>

</html>