@using Talpa_10_WebApp.Translations
@using Microsoft.AspNetCore.Mvc.Localization
@model Talpa_10_WebApp.RequestModels.SuggestionRequest
@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Create"];
}

<h1>@SharedLocalizer["Create"]</h1>

<h4>@SharedLocalizer["Suggestion"]</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedRestrictionIds" class="control-label">@SharedLocalizer["Restrictions"]</label>
                <select asp-for="SelectedRestrictionIds" asp-items="Model.RestrictionOptions" multiple="multiple" class="form-control js-dynamic-tokenizer"></select>
                <span asp-validation-for="SelectedRestrictionIds" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
</div>