@using Talpa.ViewModels
@model Talpa.ViewModels.TeamViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt class="col-sm-2">
            Users:
        </dt>
        <dd class="col-sm-10">
            @if (Model.Users != null && Model.Users.Any())
            {
                <ul>
                    @foreach (UserViewModel user in Model.Users)
                    {
                        <li>@user.Name</li>
                    }
                </ul>
            }
            else
            {
                <p>No users selected</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
