@using Talpa_10_WebApp.ViewModels
@using Talpa_10_WebApp.Translations
@using Microsoft.Extensions.Localization
@model TeamViewModel
@inject IStringLocalizer<Shared> StringLocalizer

@{
    Shared SharedLocalizer = new(StringLocalizer);
    Layout = "_Layout";
    ViewData["Title"] = SharedLocalizer.Get("Detail");
}

<h1>@SharedLocalizer.Get("Details")</h1>

<div>
    <h4>@SharedLocalizer.Get("Team")</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @SharedLocalizer.Get("Users"):
        </dt>
        <dd class="col-sm-10">
            @if (Model.Users != null && Model.Users.Any())
            {
                <ul>
                    @foreach (UserViewModel user in Model.Users)
                    {
                        <li>@user.Name</li>
                    }
                </ul>
            }
            else
            {
                <p>@SharedLocalizer.Get("No users selected")</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@SharedLocalizer.Get("Edit")</a> |
    <a asp-action="Index">@SharedLocalizer.Get("BackToList")</a>
</div>