@using Talpa_10_WebApp.ViewModels
@using Talpa_10_WebApp.Translations
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Talpa_10_WebApp.ViewModels.TeamViewModel>
@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>@SharedLocalizer["Index"]</h1>

<p>
    <a asp-action="Create">@SharedLocalizer["Create New"]</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @SharedLocalizer["Name"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (TeamViewModel item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>